.grid-container {
    position: relative;
    display: grid;
    box-sizing: inherit;
}

.block-container {
    position: relative;
    display: block;
    overflow: hidden;
    box-sizing: inherit;
}

.nav-button {
    position: relative;
    display: inline-block;
}

.nav-button:hover {
    background-color: rgb(142, 255, 255)!important;
}

.body {
    padding: 2% 2% 2% 2%;
    box-sizing: border-box;
    grid-row: 2;
}

.home-body-key-block {

}

.home-body-value-block {

}

.gallery-wrapper {
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 100%;
    padding: 2%;
    overflow: hidden;
    box-sizing: inherit;
}

.gallery-title {
    grid-row: 1;
}

.gallery-description-block {
    grid-row: 3;
}

.gallery-button {
    position: absolute;
    height: 100%;
    z-index: 100;
}

.left-gallery-button {
    grid-column: 1;
    grid-row: 1;
    float: left;
}

.right-gallery-button {
    grid-column: 3;
    grid-row: 1;
    float: right;
}

.gallery-img-wrapper {
    grid-column: 2;
    grid-row: 1;
    grid-template-columns: 100% 100%;
    grid-template-rows: 100%;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.gallery-img {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
}

.gallery-description-title {
    grid-row: 3;
}

.gallery-description {
    grid-row: 3;
}

.section-button {
    position: relative;
    display: inline-block;
}

.nav-button:hover {
    background-color: rgb(33, 59, 59)!important;
}

#wrapper {
    position: absolute;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10vw 80vw 10vw;
    width: 100%;
    height: auto;
    border-bottom: 2px solid #e3dfdf;
    box-sizing: border-box;
}

#main-navbar {
    grid-row: 1;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100%;
}


#home-body, #users-body {
    grid-template-columns: auto;
    grid-template-rows: repeat(3, max-content);
    gap: 5%;
    text-align: center;
}

#gallery-body {
    grid-template-rows: 10% 65% 25%;
    grid-template-columns: 100%;
}

#footer {
    padding: 2%;
    width: 100%;
    height: 100%;
}
