.grid-container {
    position: relative;
    display: grid;
    overflow: hidden;
    box-sizing: inherit;
}

.block-container {
    position: relative;
    display: block;
    overflow: hidden;
    box-sizing: inherit;
}

.nav-button {
    position: relative;
    display: inline-block;
}

.nav-button:hover {
    background-color: aqua!important;
}

#wrapper {
    position: absolute;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 10vw 80vw 10vw;
    width: 100vw;
    height: 100vh;
    border-bottom: 2px solid #e3dfdf;
    box-sizing: border-box;
}

#menu-vertical {
    grid-row: 1;
    grid-template-columns: repeat(4, 25vw);
    grid-template-rows: 100%;
}

#section {
    grid-row: 2;
    grid-template-rows: 100%;
    grid-template-columns: auto;
}

#footer {
    width: 100%;
    height: 100%;
}
